parameters:
    level: max
    paths:
        - src
        - tests/Feature
        - tests/Fixtures
        - tests/Integration
        - tests/Unit
        - tests/TestCase.php
    tmpDir: .phpstan
